<nav class="navbar navbar-light" style="background-color: rgb(88, 182, 116);">
    <!-- Navbar content -->
    <div class="row align-items-center justify-content-center" style="width: 75px; height: 75px;">
        <img src="/images/prototype_logo_white.png" alt="OSCS Logo" height="75px">
    </div>
</nav>