<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password | Office of Counseling and Career Services</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid mx-auto min-vh-100 row align-items-center" style=" background-color: rgb(88, 182, 116)">
        <div class="container col-sm-4 border border-success p-3" style="background-color: whitesmoke;">
            <div class="col-sm-12 text-center p-2">
                 <h3 style=" color: rgb(88, 182, 116)">Change Password</h3>
            </div>
            <form name="###" id="###" method="POST">
                <!-- Password -->
                <div class="form-row">

                    {{!-- new password --}}
                    <div class="form-group col-sm-12 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                   <i class="fa fa-key icon"></i>
                            </span>
                        </div>
                        <label for="sPassword" class="sr-only">New Password</label>
                        <input type="password" name="sPassword" id="sPassword" class="form-control" placeholder="Password">
                    </div>

                    {{!-- confirm new password --}}
                    <div class="form-group col-sm-12 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                   <i class="fa fa-key icon"></i>
                            </span>
                        </div>
                        <label for="sConfirmPassword" class="sr-only">Confirm Password</label>
                        <input type="password" name="sConfirmPassword" id="sConfirmPassword" class="form-control" placeholder="Confirm Password">
                    </div>
                </div>

                <!-- Change Password button -->
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <button type="submit" id="btnChangePassword" class="btn btn-md btn-success btn-block">Change Password</button>
                    </div>
                </div>
            </form>

            <div class="text-center">
                <p class="text-center">Go back to <a href="###">Login</a></p>
     
            </div>
        </div>
    </div>

    <!-- Bs4 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>