<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests | Office of Counseling and Career Services</title>
</head>
<body>
    <!-- header | navbar -->
    <nav class="navbar navbar-light" style="background-color: rgb(88, 182, 116);">
        <!-- Navbar content -->
        <div class="row align-items-center justify-content-center" style="width: 75px; height: 75px;">
            OCCS Logo
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row p-2 border-bottom">
            <div class="col-10 col-sm-10">
                <small>
                    Logged in as Career Unit Head
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-sm-2">
               {{> navBar}}
            </div>   
            <div class="col-9 col-sm-9 justify-content-center">

                <table class="table table-striped">
                    <thead class="thread-dark" align ="center">>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Reason</th>
                            <th scope="col">sTask</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody align ="center">
					{{#each RequestEntry}}
						<tr>
                            <th scope="row">{{sUsername}}</th>
                            <td>{{sReason}}</td>
                            <td>{{sTask}}</td>
                            <td>
                                <button class="btn btn-sm btn-success" onclick="">Accept</button>
                                <button class="btn btn-sm btn-danger" onclick="">Reject</button>
                            </td>
                        </tr>
                       <input type="hidden" id="objSRep" name="objSRep" value = {{objSRep}}>
					{{/each}}	
                    </tbody>
                </table>
            </div>
        </div>
    </div>
       
    
    
    <!-- Bs4 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>