<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> View Analytics | Office of Counseling and Career Services</title>
</head>
     
    <style>
      input[type=text], select, textarea {
        width: 100%; 
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical 
      }

      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

      .container-form {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
    </style>
<body>
    <!-- header | navbar -->
    {{>header}}
    <div class="container-fluid">
        {{>subHeader}}        
        <div class="row p-2">
            {{>navBar}}

            <div class="col-9 col-sm-9 container-form d-flex justify-content-center">
                <div class="row">
                    <form name="frmViewAnalytics" id="frmViewAnalytics" method="POST">
                        <label for="country">Select Student Representative</label>
                        <div class="form-row">
                            <div class="form-group col-sm-12 input-group">
                                <div class="p-1">
                                    <select id="statSelect" name="statSelect">
                                        <option class = "statOption" value="">Total Hours per SRep</option>
                                        <option class = "statOption" value=""></option>
                                        <option class = "statOption" value="">Hours per Day of all SReps</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Start Date -->
                        <div class="form-row">
                            <label for="startdate">Start Date</label>
                            <input type="date" name="sStartDate" id="sStartDate" class="form-control" placeholder="sStartDate">
                        </div>

                        <!-- End Date -->
                        <div class="form-row">
                            <label for="enddate">End Date</label>
                            <input type="date" name="sEndDate" id="sEndDate" class="form-control" placeholder="sEndDate">           
                        </div>

                        <!-- View Analytics button -->
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <button type="submit" id="btnViewAnalytics" class="btn btn-md btn-success btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <!-- insert analytics table here -->
                </div>
            </div>   
        </div>
    </div>
        
    <!-- Bs4 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>

